<button class="btn" type="button" onclick="add(this, '/cart')">
  Add to Cart
</button>
<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
<input type="hidden" name="productId" id="id" value="<%= product._id %>" />
