<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered">
        <h1>Server is acting weird 🤨</h1>
        <p>Dont worry, We're working on the fix already!</p>
    </div>

<%- include('includes/end.ejs') %>